<%- include("../templates/header") %>

<div id="tv-guide">

<div id="green-screen"></div>

<table>
<thead>
<tr><th id="current-time"></th><th id="slot-1"></th><th id="slot-2"></th><th id="slot-3"></th><th id="slot-4"></th></tr>
</thead>
<tbody id="tv-guide-body">
<% tvGuideItems.forEach(item => { %>
  <% if (item.type === 'banner') { %>
    <tr class="viperverse"><td colspan="5"><%- renderTvGuideLines(item.titleLines) %></td></tr>
  <% } else { %>
    <tr>
      <td class="channel-title"><%- renderTvGuideLines(item.titleLines) %></td>
      <% item.programs.forEach(program => { %>
        <td<% if (program.colspan > 1) { %> colspan="<%= program.colspan %>"<% } %>><%- renderTvGuideLines(program.titleLines) %></td>
      <% }) %>
    </tr>
  <% } %>
<% }) %>
</tbody>
</table>

</div>

<script type="text/javascript" src="/assets/js/tv-guide.js"></script>

<%- include("../templates/footer") %>
